<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; 643 ESD 2024</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/Chart.min.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='assets/demo/chart-area-demo.js')}}"></script>
<script src="{{url_for('static', filename='assets/demo/chart-bar-demo.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap4.min.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='assets/demo/datatables-demo.js')}}"></script>
<!-- select2 -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>
</body>
</html>
