{% include 'header.html' %}
    <body class="sb-nav-fixed">
        {% include 'nav.html' %}
        <div id="layoutSidenav">
            {% include 'siderbar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Units</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"></li>
                        </ol>
                        <div class="row">
                            
                            <div class="col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Personnel
                                    </div>
                                    <div class="card-body">
                                    <form method="POST" id="personnelForm">
                                        <div class="form-row">
                                            
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="name">Name</label>
                                                    <input required class="form-control py-2" id="name" name="name" type="text" placeholder="Name" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="name">Phone</label>
                                                    <input required class="form-control py-2" id="phone" name="phone" type="text" placeholder="Phone" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="name">Email</label>
                                                    <input required class="form-control py-2" id="email" name="email" type="text" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="name">Password</label>
                                                    <input required class="form-control py-2" id="password" name="password" type="password" placeholder="Password" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-group mt-4 mb-0"><button class="btn btn-primary btn-block" id="addPersonnel" unitId="{{unit.id}}">Submit</button></div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Information
                                    </div>
                                    <div class="card-body">
                                    <form method="POST" id="unitForm">
                                        <div class="form-row">
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="name">Name</label>
                                                    <input required class="form-control py-2" id="unitName" name="name" type="text" placeholder="Name" value="{{unit.name}}" />
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputLastName">Location</label>
                                                    <select required class="form-control py-2" name="location" id="unitLocation">
                                                            {% for location in locations %}
                                                            {% if unit.location == location.name %}
                                                        <option selected value="{{location.name}}">{{location.name}}</option>
                                                            {% else %}
                                                        <option value="{{location.name}}">{{location.name}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputLastName">Command</label>
                                                    <select required class="form-control py-2" name="command" id="unitCommand">
                                                            {% for command in commands %}
                                                            {% if unit.command == command.name %}
                                                        <option selected value="{{command.name}}">{{command.name}}</option>
                                                            {% else %}
                                                        <option value="{{command.name}}">{{command.name}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            
                                        </div>
                                        <div class="form-group mt-4 mb-0"><button class="btn btn-primary btn-block" id="updateUnit" unitId="{{unit.id}}">Update</button></div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                            <div class="card mb-4" id="personnel">
                                <div class="card-header">
                                    <i class="fas fa-table mr-1"></i>
                                    Unallocated Vehicles
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for personnel in personnels %}
                                                <tr>
                                                    <td>{{personnel.name}}</td>
                                                    <td>{{personnel.email}}</td>
                                                    <td>{{personnel.role}}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </main>
{% include 'footer.html' %}
<script src = "{{url_for('static',filename='js/custom/main.js')}}"></script>
<script src="{{url_for('static', filename='js/custom/unit.js')}}"></script>